# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\switchboard.lgbt\dato\hugo-example-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
